.errorlogo{
    height: 200px;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    .reg-btn{
        margin-left: 20px;
        padding: 8px 20px;
        border-radius: 40px;
        background-color: white;
        color: #293732;
        font-size: 1.2rem;
        font-weight: 400;
        text-decoration: none;
        cursor: pointer;
        transition: 0.3s;
        &:hover{
            transition: 0.3s;
          
    background-color: #293732;
    color: white;

        }
    }
    img{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    .items{
        display: flex;
        flex-direction: row;
        align-items: center;
 
        width: 100%;
        padding: 0 20px;
        a{
            text-decoration: none;
            color:white;
            font-size: 1.2rem;
            font-weight: 200;
            padding: 5px 20px;
            border-radius: 540px;
            cursor: pointer;
            transition: 0.3s;
            &:hover{
                background: #a9abaa33;
                transition:  0.3s;

            }
            &.active{
                background: #a9abaa33;
            }
        }
    }
}
.banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


    
    .img{
        background: url(../../assets/banner.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 68vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        filter: brightness(0.5);
  }
        .content{
            position: absolute;
        .top{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 50px;
        }

        .h1{
          
            // margin-top: 100px;
            display: flex;
            flex-direction: column;
            span{
                font-size: 6rem;
                color: #fff;
                font-weight: 700;
                line-height: 1;
            }
        }
        p{
            font-size: 1.5rem;
            color: #fff;
            font-weight: 400;
            margin-top: 20px;
        }
        .date{
            margin-top: 20px;
            font-size: 1.7rem;
            color: #fff;
            font-weight: 600;
            display: flex;
            align-items: center;
            b{
                margin-right: 10px;
            }


           
        }
        .bottom{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 5rem;
            a{
                text-decoration: none;
                color: #fff;
                font-size: 1.2rem;
                font-weight: 600;
                padding: 10px 20px;
                border-radius: 40px;
                transition: 0.3s;
                background-color: #8000FF;
                border: 1px solid #8000FF;
                &:hover{
                    transition: 0.3s;
                    background-color: #fff;
                    border-color: #8000FF;
                    color: #8000FF;
                }
            }
        }
    }
     
}
.sports-m{
    padding:13px 20px;
    label.header{
        font-size: 30px;
        font-weight: 400;
    }
    .sports{
        padding: 0px 0px;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
   
        ::-webkit-scrollbar {
            width: 0px;
            background: transparent;
          }
 
    }
    .sport{
        cursor: pointer;
        margin-right: 2%;
        width: max-content;
        &:hover{
            transition: 0.3s;
            img{
                filter: brightness(0.5);
            }
        }
        .img{
            width: max-content;
            background: linear-gradient(45deg, #c6c6c6, #293732);
            padding: 5px;
            border-radius: 18px;
        }
        img{
            transition: 0.3s;
            border-radius: 20px;
height: 150px;
            width: 250px;
            object-fit: cover;
 
        }.text{
            position: absolute;
            margin-top: -47px;
            padding: 0px 18px;
            font-size: 1.5rem;
            font-weight: 600;
            color: white;
        }
    }
}
.patners {
    margin-top: 20px;
    margin-bottom: 20px;
    // border-color: #e8e8e8;
    // border-style: solid;
    // border-width: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 2%;
    label {
 
        font-size: 27px;
        font-weight: 300;
    }
    .partners-img {
        margin-left: 20px;
        width: max-content;
 
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
            width: 25%;
            aspect-ratio: 3/2;
            object-fit: contain;
            ;
        }
    }
}
.schedule-page{
padding: 10px 20px ;
.schedule-top{
    .schedule-header{
        h1{
            font-size: 2.5rem;
            font-weight: 700;
            color: #000;
        }
    }
    .schedule-options{
        padding: 5px 10px;
        span{
            font-size: 1rem;
            font-weight: 400;

            color: #8000FF;
            border-style: solid;
            border-width: 1px;
            border-color: #8000FF;
            border-radius: 40px;
            padding: 5px 10px;
            margin-right: 20px;
            transition: 0.3s;
            cursor: pointer;
            &.active {
                transition: 0.3s;
                background: linear-gradient(45deg, #000000, #8000ff);
                color: #fff;

            }
            &:hover{
                transition: 0.3s;
                background: linear-gradient(45deg, #000000, #8e28f5d5);
                color: #fff;}

        }
       

    }
    .inter-options{
        padding: 8px 18px;
        span{
            font-size: .9rem;
            font-weight: 400;

            color: #8000FF;
            border-style: solid;
            border-width: 1px;
            border-color: #8000FF;
            border-radius: 40px;
            padding: 4px 8px;
            margin-right: 20px;
            transition: 0.3s;
            cursor: pointer;
            &.active {
                transition: 0.3s;
                background-color: #8000FF;
                color: #fff;

            }
            &:hover{
                transition: 0.3s;
                background-color: #8e28f5d5;
                color: #fff;}

        }

    }

}
}
.leaderboard-table{
    margin-top: 4rem;
    padding: 0px 20px ;
}
.purple-text{
    color: #8000FF;

}
.pointer{
    cursor: pointer;
}


.bracket{
    margin-top: 4rem;
    padding: 0px 10rem ;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    .round{
        .match{
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;
            margin-right: 2rem;
            .team{
                box-shadow: 0px 0px 15px #3e3e3e30;
                width: 230px;
                height: 40px;
                margin-bottom: 0.5rem;
               align-items: center;
                border-radius: 5px;
                display: flex;
                flex-direction: row;
                &.winner{
                    background-color: #8000FF;
                    color: #fff;
                }
                .score{
                    margin-right: 10px;
                    height: 100%;
                    width: 40px;
                    font-size: 15px !important;
                    display: flex;
                    align-items: center;
                    justify-content: center;


                    font-size: 1.2rem;
                    font-weight: 600;
                    background-color: #d0d0d0;
                    color: white;
                }
            }
        }

    }
}
.schedule-mmm{
    .header-img{
        height: 32vh;
        background:url('../../assets/tournaments.jpeg');
        &.tabletennis{
            height: 42vh;
            background: url(https://images.unsplash.com/photo-1511067007398-7e4b90cfa4bc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80)!important;
    background-size: contain !important;
        }
        h1{
            padding: 40px;
    color: white;
    font-size: 47px;
    font-weight: 900;
        }
 img{

    height: 434px;
    width: 100%;
    object-fit: cover;

 }
    }
    .schedule-m{
 
    }
  
    .schedule-sports{
        display: flex;
        flex-direction: row;
        padding: 20px;
        .schedule-sport-a{
            margin-right: 2%;
            display: flex;
            flex-direction: column;
            align-items: center;

        }
        .schedule-sport{
 
            width: max-content;
            padding: 3px;
            border-radius: 100%;
            cursor: pointer;
            transition: 0.6s;
            &.active{
                transition: 0.6s;
                background: linear-gradient(45deg, #000000, #8000ff);
            }
            &:hover{
                transition: 0.6s;
                background: linear-gradient(45deg, #000000, #8000ff);
            }
            .schedule-img{
                background: white;
    width: max-content;
    padding: 4px;
    border-radius: 100%;
    img{
        height: 50px;
        width: 50px;
        border-radius: 100%;
    }
            }
        }
    }
}
.register-opens{
    padding: 40px;
    .register-box{
        margin-bottom: 2%;
        display: flex;
    flex-direction: column;
    width: max-content;
    align-items: center;
    text-align: left;
    background: #e5e7eb;
    padding: 18px;
    border-radius: 10px;
    .top{
        display: flex;
        align-items: flex-start;
        .left{
            img{
                height: 70px;
                width: 70px;
                object-fit: cover;
                border-radius: 10px;
            }

        }
        .right{
            padding: 0px 20px;
            .title{
                font-weight: 600;
                font-size: 21px;
                color: rgb(25 25 25);
            }.applybutton{
                padding: 10px 0px;
                span{
                    padding: 7px 14px;
                    border-color: #131313;
                    background: white;
                    border-radius: 31px;
                    border-style: solid;
                    border-width: 1px;
                    font-weight: 200; 
                    cursor: pointer;
                    transition: 0.3s;
                    &:hover{
                        background: #131313;
                        color: white;
                        transition: 0.3s;
                    }
                }
            }
        }
    }.line{
        background: rgb(0 0 0 / 10%);
        padding: 0.5px;
        width: 100%;
        margin: 10px 0px;
    }.bottom{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;   
        .date{
            display: flex;
            align-items: center;
            color: #646464;
            font-size: 15px;
            label{
                padding: 0px 5px;
            }
        }
        span{
            font-weight: 300;
            color: #293732;
            font-size: 18px;
        }
    }
    }
}
.register-form-box{
    padding: 30px 40px;
    .header{
        h1{
font-size: 40px;
font-weight: 700;
        }
    }
    .register-form{
        width: 50%;
        form{
            width: 100%;
            .frm-group{
                padding: 9px 0px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                button{
                    background: #3b3a39;
                    padding: 10px 9px;
                    width: 100%;
                    border-style: solid;
                    border-color: transparent;
                    border-radius: 30px;
                    border-width: 2px;
                    color: white;
                    font-size: 18px;
                    font-weight: 400;
                    box-shadow: 0px 0px 14px rgb(92 93 96);
                    transition: 0.3s;
                    cursor: pointer;
                    &:hover{
                        background: #575655;
                    box-shadow: 0px 0px 18px rgb(92 93 96);
                        
                        transition: 0.3s;
                    }
                }
                .frm-control{
width: 100%;
                    input,select{
                        outline: none;
                        padding: 14px 9px;
                        width: 100%;
                        border-radius: 8px;
                        background-color: rgb(0 0 0 / 11%);
                        border-style: solid;
                        border-width: 1px;
                        border-color: #1b1b1b;
                        &.rw{
width: 98%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .schedule-mmm .header-img h1 {
        padding: 40px;
        color: white;
        font-size: 33px;
        font-weight: 900;
    }
    .register-form{
        width: 100% !important;}
}